# MySQL Queries With Python

https://www.datacamp.com/courses/introduction-to-relational-databases-in-python

## Importing Libraries and Connecting Database

In [1]:
from sqlalchemy import create_engine
from sqlalchemy import MetaData, Table
from sqlalchemy import select

In [2]:
engine = create_engine("mysql+pymysql://root:pass@localhost:8800/employees")

In [3]:
print(engine.table_names())

['departments', 'departments_dup', 'dept_emp', 'dept_manager', 'dept_manager_dup', 'emp_manager', 'employees', 'employees_dup', 'salaries', 'titles']

In [4]:
metadata = MetaData()

In [5]:
departments = Table('departments', metadata, autoload=True, autoload_with=engine)
print(repr(departments))

Table('departments', MetaData(bind=None), Column('dept_no', CHAR(length=4), table=<departments>, primary_key=True, nullable=False), Column('dept_name', VARCHAR(length=40), table=<departments>, nullable=False), schema=None)

In [6]:
departments.columns.keys()

['dept_no', 'dept_name']

## Selecting data from a Table (Traditional SQL Query)

First, we define "connection" variable to connect engine.

Second, we define query what we want as a string. Then we assign it to variable "stmt".

Then, we execute the connection with query 'stmt' and assign it to result_proxy.

Finally, we fetch all the result_proxy and assign it to results. And print resÄ±lts to see what we get from employees database's departments table.

In [7]:
connection = engine.connect()
stmt = 'SELECT * FROM departments'

result_proxy = connection.execute(stmt)
results = result_proxy.fetchall()

print(results)

[('d009', 'Customer Service'), ('d010', 'Data Analysis'), ('d005', 'Development'), ('d002', 'Finance'), ('d003', 'Human Resources'), ('d001', 'Marketing'), ('d004', 'Production'), ('d006', 'Quality Management'), ('d008', 'Research'), ('d007', 'Sales')]

Or we can get the same result with one line code as below.

In [8]:
results2 = engine.connect().execute('SELECT * FROM departments').fetchall() 

print(results2)

[('d009', 'Customer Service'), ('d010', 'Data Analysis'), ('d005', 'Development'), ('d002', 'Finance'), ('d003', 'Human Resources'), ('d001', 'Marketing'), ('d004', 'Production'), ('d006', 'Quality Management'), ('d008', 'Research'), ('d007', 'Sales')]

As you see, results and results2 are the same.

## Selecting data from a Table (SQLalchemmy)

First, we will import select from sql alchemmy.
Then, We will use "stmt = select([departments])" instead of "stmt = 'SELECT * FROM departments'" in sqlalchemy.

In [9]:
from sqlalchemy import select
stmt = select([departments])
results3 = engine.connect().execute(stmt).fetchall()

print(results3)

[('d009', 'Customer Service'), ('d010', 'Data Analysis'), ('d005', 'Development'), ('d002', 'Finance'), ('d003', 'Human Resources'), ('d001', 'Marketing'), ('d004', 'Production'), ('d006', 'Quality Management'), ('d008', 'Research'), ('d007', 'Sales')]

## Handling a ResultSet

In [10]:
first_row = results[0]

In [11]:
print(first_row)
print(type(first_row))
print(first_row[0])
print(first_row['dept_no'])

('d009', 'Customer Service')
<class 'sqlalchemy.engine.result.RowProxy'>
d009
d009

In [19]:
from sqlalchemy import or_
# Create a select query: stmt
stmt = select([departments])

# Add a where clause to filter the results to only those for New York
stmt = stmt.where(or_(departments.columns.dept_no =='d009', departments.columns.dept_no =='d004'))

# Execute the query to retrieve all the data returned: results
results = engine.connect().execute(stmt).fetchall()

# Loop over the results and print the age, sex, and pop2008
for result in results:
    print(result.dept_no, result.dept_name)

d004 Production
d009 Customer Service