# Advanced SQLALCHEMY Queries

https://www.datacamp.com/courses/introduction-to-relational-databases-in-python

## Importing Libraries

In [1]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine
from sqlalchemy import MetaData, Table
from sqlalchemy import select

## Connecting to a MySQL Database

In [3]:
# Create an engine to the census database
engine = create_engine('mysql+pymysql://student:datacamp@courses.csrrinzqubik.us-east-1.rds.amazonaws.com:3306/census')

# Use the .table_names() method on the engine to print the table names
print(engine.table_names())

['census', 'state_fact']

## Getting Table From Database

As you see above, there are 2 tables in census database: census, and state_fact.

In [4]:
from sqlalchemy import MetaData, Table
metadata = MetaData()
census = Table('census', metadata, autoload=True, autoload_with=engine)
print(repr(census))

Table('census', MetaData(bind=None), Column('state', VARCHAR(length=30), table=<census>), Column('sex', VARCHAR(length=1), table=<census>), Column('age', INTEGER(display_width=11), table=<census>), Column('pop2000', INTEGER(display_width=11), table=<census>), Column('pop2008', INTEGER(display_width=11), table=<census>), schema=None)

In [5]:
state_fact = Table('state_fact', metadata, autoload=True, autoload_with=engine)
print(repr(state_fact))

Table('state_fact', MetaData(bind=None), Column('id', VARCHAR(length=256), table=<state_fact>), Column('name', VARCHAR(length=256), table=<state_fact>), Column('abbreviation', VARCHAR(length=256), table=<state_fact>), Column('country', VARCHAR(length=256), table=<state_fact>), Column('type', VARCHAR(length=256), table=<state_fact>), Column('sort', VARCHAR(length=256), table=<state_fact>), Column('status', VARCHAR(length=256), table=<state_fact>), Column('occupied', VARCHAR(length=256), table=<state_fact>), Column('notes', VARCHAR(length=256), table=<state_fact>), Column('fips_state', VARCHAR(length=256), table=<state_fact>), Column('assoc_press', VARCHAR(length=256), table=<state_fact>), Column('standard_federal_region', VARCHAR(length=256), table=<state_fact>), Column('census_region', VARCHAR(length=256), table=<state_fact>), Column('census_region_name', VARCHAR(length=256), table=<state_fact>), Column('census_division', VARCHAR(length=256), table=<state_fact>), Column('census_division_name', VARCHAR(length=256), table=<state_fact>), Column('circuit_court', VARCHAR(length=256), table=<state_fact>), schema=None)

## Calculating a Difference between Two Columns

In [6]:
from sqlalchemy import desc
connection = engine.connect()

# Build query to return state names by population difference from 2008 to 2000: stmt
stmt = select([census.columns.state, (census.columns.pop2008-census.columns.pop2000).label('pop_change')])

# Append group by for the state: stmt
stmt = stmt.group_by(census.columns.state)

# Append order by for pop_change descendingly: stmt
stmt = stmt.order_by(desc('pop_change'))

# Return only 5 results: stmt
stmt = stmt.limit(5)

# Use connection to execute the statement and fetch all results
results = connection.execute(stmt).fetchall()

# Print the state and population change for each record
for result in results:
    print('{}:{}'.format(result.state, result.pop_change))

Texas:40137
California:35406
Florida:21954
Arizona:14377
Georgia:13357

## Determining the Overall Percentage of Females

In [7]:
# import case, cast and Float from sqlalchemy
from sqlalchemy import case, cast, Float
from sqlalchemy import func 

# Build an expression to calculate female population in 2000
female_pop2000 = func.sum(
    case([
        (census.columns.sex == 'F', census.columns.pop2000)
    ], else_=0))

# Cast an expression to calculate total population in 2000 to Float
total_pop2000 = cast(func.sum(census.columns.pop2000), Float)

# Build a query to calculate the percentage of females in 2000: stmt
stmt = select([female_pop2000 / total_pop2000 * 100])

# Execute the query and store the scalar result: percent_female
percent_female = connection.execute(stmt).scalar()

# Print the percentage
print(percent_female)

50.7455

C:\Users\TTAdmin\Anaconda3\lib\site-packages\sqlalchemy\dialects\mysql\base.py:1004: SAWarning: Datatype FLOAT does not support CAST on MySQL; the CAST will be skipped.
  self.dialect.type_compiler.process(cast.typeclause.type))

It looks like there were slightly more females than males in the US population in 2000!

## Automatic Joins with an Established Relationship

In [8]:
# Build a statement to join census and state_fact tables: stmt
stmt = select([census.columns.pop2000, state_fact.columns.abbreviation])

# Execute the statement and get the first result: result
result = connection.execute(stmt).first()

# Loop over the keys in the result object and print the key and value
for key in result.keys():
    print(key, getattr(result, key))

pop2000 89600
abbreviation IL

## Joins

If you aren't selecting columns from both tables or the two tables don't have a defined relationship, you can still use the .join() method on a table to join it with another table and get extra data related to our query. The join() takes the table object you want to join in as the first argument and a condition that indicates how the tables are related to the second argument. Finally, you use the .select_from() method on the select statement to wrap the join clause. For example, in the video, Jason executed the following code to join the census table to the state_fact table such that the state column of the census table corresponded to the name column of the state_fact table.

In [9]:
# Build a statement to select the census and state_fact tables: stmt
stmt = select([census, state_fact])

# Add a select_from clause that wraps a join for the census and state_fact
# tables where the census state column and state_fact name column match
stmt = stmt.select_from(
    census.join(state_fact, census.columns.state == state_fact.columns.name))

# Execute the statement and get the first result: result
result = connection.execute(stmt).first()

# Loop over the keys in the result object and print the key and value
for key in result.keys():
    print(key, getattr(result, key))

state Illinois
sex M
age 0
pop2000 89600
pop2008 95012
id 13
name Illinois
abbreviation IL
country USA
type state
sort 10
status current
occupied occupied
notes
fips_state 17
assoc_press Ill.
standard_federal_region V
census_region 2
census_region_name Midwest
census_division 3
census_division_name East North Central
circuit_court 7

## More Practice with Joins

In [10]:
# Build a statement to select the state, sum of 2008 population and census
# division name: stmt
stmt = select([
    census.columns.state,
    func.sum(census.columns.pop2008),
    state_fact.columns.census_division_name
])

# Append select_from to join the census and state_fact tables by the census state and state_fact name columns
stmt = stmt.select_from(
    census.join(state_fact, census.columns.state == state_fact.columns.name)
)

# Append a group by for the state_fact name column
stmt = stmt.group_by(state_fact.columns.name)

# Execute the statement and get the results: results
results = connection.execute(stmt).fetchall()

print(results[0].keys())

# Loop over the the results object and print each record.
for record in results:
    print(record)

['state', 'sum_1', 'census_division_name']
('Alabama', Decimal('4681422'), 'East South Central')
('Alaska', Decimal('664546'), 'Pacific')
('Arizona', Decimal('10698743'), 'Mountain')
('Arkansas', Decimal('4343608'), 'West South Central')
('California', Decimal('56952946'), 'Pacific')
('Colorado', Decimal('7474086'), 'Mountain')
('Connecticut', Decimal('3727540'), 'New England')
('Delaware', Decimal('869221'), 'South Atlantic')
('Florida', Decimal('20339477'), 'South Atlantic')
('Georgia', Decimal('9622508'), 'South Atlantic')
('Hawaii', Decimal('1250676'), 'Pacific')
('Idaho', Decimal('1518914'), 'Mountain')
('Illinois', Decimal('16274391'), 'East North Central')
('Indiana', Decimal('7378168'), 'East North Central')
('Iowa', Decimal('3000490'), 'West North Central')
('Kansas', Decimal('4045759'), 'West North Central')
('Kentucky', Decimal('4525061'), 'East South Central')
('Louisiana', Decimal('5183486'), 'West South Central')
('Maine', Decimal('2018932'), 'New England')
('Maryland', Decimal('7246747'), 'South Atlantic')
('Massachusetts', Decimal('6492024'), 'New England')
('Michigan', Decimal('14154883'), 'East North Central')
('Minnesota', Decimal('6922744'), 'West North Central')
('Mississippi', Decimal('4560123'), 'East South Central')
('Missouri', Decimal('7836564'), 'West North Central')
('Montana', Decimal('1172060'), 'Mountain')
('Nebraska', Decimal('2348009'), 'West North Central')
('Nevada', Decimal('3925294'), 'Mountain')
('New Hampshire', Decimal('1949141'), 'New England')
('New Jersey', Decimal('8670204'), 'Mid-Atlantic')
('New Mexico', Decimal('3263613'), 'Mountain')
('New York', Decimal('26837888'), 'Mid-Atlantic')
('North Carolina', Decimal('9121606'), 'South Atlantic')
('North Dakota', Decimal('634282'), 'West North Central')
('Ohio', Decimal('16565266'), 'East North Central')
('Oklahoma', Decimal('4736015'), 'West South Central')
('Oregon', Decimal('4901890'), 'Pacific')
('Pennsylvania', Decimal('17277878'), 'Mid-Atlantic')
('Rhode Island', Decimal('1096276'), 'New England')
('South Carolina', Decimal('4438870'), 'South Atlantic')
('South Dakota', Decimal('800997'), 'West North Central')
('Tennessee', Decimal('8524299'), 'East South Central')
('Texas', Decimal('39829923'), 'West South Central')
('Utah', Decimal('2730919'), 'Mountain')
('Vermont', Decimal('820523'), 'New England')
('Virginia', Decimal('9593860'), 'South Atlantic')
('Washington', Decimal('8080837'), 'Pacific')
('West Virginia', Decimal('1812879'), 'South Atlantic')
('Wisconsin', Decimal('7518844'), 'East North Central')
('Wyoming', Decimal('653500'), 'Mountain')